/*
    Colors
*/

$primary:   #ccc;
$secondary: #666;
$third:     #333;

$white:     #f0f0f0;
$black:     #222;
$red:       #d12525;
$gray:      #e1e1e1;
$link:      steelblue;

// Social Colors
$twitter:   #1DA1F2;
$linkedin:  #0077B5;
$github:    #842A8E;

/*
    Fonts
*/

$font-family:   'Quicksand', sans-serif;
$font-title:    'Inconsolata', monospace;
$font-informal: 'Gloria Hallelujah', cursive;

// Selectores (clases) para flex-container y flex-item
$container : container !default;
$item      : item !default;

// Ancho máximo para los contenedores
$max-width : 100%;

// Seperación horizontal entre items (*2)
//$gutter : em(15px);
