.main {
    background-color: white;  
    font-family: $font-family;  
    margin-bottom: 50px;
    transition: all 2s;
    

    &.hide {
        //display: none;
        //pacity: 0;        
        height: 350px;
        overflow: hidden;
    }

    &.in {
        //display: block;
        //opacity: 1;        
        height: none;
        overflow: auto;
    }
   
}

.info {
    padding: 0 10px;
    text-align: center;
    
    @include from(l){        
        padding: 0 60px;
    }
}

.info__title {
    text-align: center;
    border-bottom: 2px solid $link;
    display: inline-block;
    //margin:  auto;
    margin: 1.2em 0;
}

.info__text {
    text-align: justify;
    color: $black; 
    margin: 0;   
    line-height: 1.35em;

    strong {
        color: steelblue;
        
    }
}

.info__container {
    margin: 0 0 30px 0;
}
.info__title--h4 {
    font-weight: 700;
    margin: 0;
    padding: 0;    
}
.info__title--h5 {
    font-weight: normal;    
    margin: 3px 0;
    padding: 0;
    font-size: .9em;
}

.card {
    border: 1px solid lighten($black, 60%);
    margin: 0 0 30px 0;
    padding: 10px;
    text-align: center;
    box-shadow: 4px 4px 3px lighten($black, 60%);
    border-radius: 5px;
    background-color: lighten($gray, 10%);

    h4 {
        margin: 5px;
        font-weight: 700;
        color: $linkedin;
    }
    
    h5 {
        font-size: .9em;
        font-weight: normal;
        margin: 4px;
    }
}

