.menu {
  position: fixed;
  background-color: $linkedin; 
  bottom: 20px;
  right: 20px;
  width: 65px;
  height: 65px;
  font-size: 2.3em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  box-shadow: 2px 2px 2px 1px rgba($black, .4);
  transition: all .4s;
  z-index: 10000;
  cursor: pointer;
  
  //content: "\42";
  &::before {
    content: "\42";
    font-family: "untitled-font-1";
    display: inline-block;    
  }  

  &.hide {    
    //top: -15px;
  }

  &.in {    
    // bottom: -15px;
    // padding: 0 0 15px 0;        
    // box-shadow:none;
  }

  &:hover {
    cursor: pointer;
    //width: 65px;
    //bottom: -15px;    
  }

  &:hover .icon-arrow-up {
    //top: 60%;
  }

  .icon-arrow-up,
  .icon-cancel-squared {
    position: relative;
    display: block;    
    transition: all .3s;
  }

  .icon-arrow-up {
    top: 5px;
  }

  .icon-cancel-squared {
    font-size: 1.8em;
    align-self: center;
    //transform: translateY(-70%);
  }

  @include from(m){
    display: none;
  }  
  
   
}

