.education {
  color: $black; 
  font-family: $font-family;
}

.education__cont{
  padding: 18px 15px 0 15px;
}

.education__title{
  font-size: 1em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.education__school{
  font-size: .9em;
  margin: 8px 0 5px 0;
}

.education__time{
  font-size: .9em;
  padding: 0;
}

