.main { 
  @include edContainer;
  overflow: visible;
}

.content {
  @include edItem(100);    
  margin: 1.5em 0;

  &:nth-child(2) {
    @include edItem(100);
  }
  
  &:nth-child(3) {
    @include edItem(100);
    float: right;
  }

}

.content__title {
  color: $black;
  font-size: 1.7em;

  &.in {
    animation: rotate-in 1s forwards .2s;
  }
}

.content__text {
  font-size: 1.1em;
  font-weight: 300;  
  
}


/*
  Experience
*/

.info__container {
  @include edContainer;
  box-shadow: 3px 3px 4px 0px rgba(153,153,153,.8);
  border-radius: 5px 5px 0 0;
}

.info__data {
  @include edItem(100);
  //border-right: 2px solid $color3;
  align-self: center;
  text-align: center;
  padding: 0 10px;
  border: 1px solid $gray;
  border-radius: 5px 5px 0 0;
  position: relative;
  background: linear-gradient(to bottom, rgba(244,244,244,1) 0%, rgba(246,246,246,1) 47%, rgba(239,239,239,1) 100%);
  background-color: transparent;
  

  &:before {
    content: '-';
    font-size: 1.8em;
    font-weight: bold;
    display: inline-block;
    border: 0px solid red;
    width: 10px;
    line-height: .6em;
    height: 100%;      
    color: $gray;   
    position: absolute;
    right: 30px;      
  }

  &:after {
    content: '';        
    display: block;    
    width: 15px;
    height: 15px;           
    color: lighten($black, 18%);         
    position: absolute;
    top: 5px;
    border: 2px solid $gray;
    right: 10px;      
    
  }
}

.info__title {
  margin: 0 auto;
  padding: 3px;
  color: lighten($black, 30%);
  font-weight: 500;
  font-size: .8em;    
  position: relative;
  height: 100%;
  vertical-align: middle;
  border-radius: 5px 5px 0 0;

}

.info__desc {
  border-top: 0px solid $gray;
  border-right: 2px solid $gray;
  border-bottom: 2px solid $gray;
  border-left: 2px solid $gray;
  background: #fff;  
  text-align: left;  
  
  p.info__text {
    font-size: .9em;
    line-height: 1.1em;
    text-align: justify;
  }
  @include edItem(100);  

}

.info__date {
  text-align: center;
  color: $color2;
  margin: 5px 0;

  &::before {
    content: "chavita@ubuntu:~$ date";
    margin: 0 0 5px 0;
    color: lighten($black, 20%);
    opacity: .6;
    display: block;
    font-size: .8em;
    text-align: left;
  }
}

.info__text {
  //font-size: .9em;
  color: $black;
  margin:0 0 5px 0;

  &::before {
    content: "chavita@ubuntu:~$ description";
    margin: 0 0 5px 0;
    color: lighten($black, 20%);
    opacity: .6;
    display: block;
    font-size: .9em;
    text-align: left;
  }
}
