* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    //background: lighten($gray, 1%);
    margin: 0;
    padding: 0;
    position: relative;    
}

#app {
    // font-family: 'Asap Condensed', sans-serif;
    font-family: $font1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: $color1;
    overflow: hidden;
    position: relative;
    // &:before {
    //     content: '';
    //     overflow: hidden;
    //     display: block;
    //     width: 150%;
    //     height: 100vh;
    //     border-radius: 50% 100%;
    //     transform: rotate(-90deg);
    //     box-shadow: 0px 4px 47px -5px rgba(100, 100, 100, .3);
    //     position: absolute;
    //     bottom: 0;
    //     right: 200px;
    // }
    // &:after {
    //     content: '';
    //     overflow: hidden;
    //     display: block;
    //     width: 150%;
    //     height: 100vh;
    //     border-radius: 50% 100%;
    //     transform: rotate(90deg);
    //     box-shadow: 0px 4px 47px -5px rgba(100, 100, 100, .3);
    //     position: absolute;
    //     bottom: 0;
    //     left: 100px;
    //     z-index: -1;
    // }
}

h1,
h2 {
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: $color2;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);     
    /* unvisited link */
    &:link {
        border: 0px solid transparent;
        outline:none;
    }
    /* visited link */
    &:visited {
        border: 0px solid transparent;
        outline:none;
    }
    /* mouse over link */
    &:hover {
        border: 0px solid transparent;
        outline:none;
    }
    /* selected link */
    &:active {
        border: 0px solid transparent;
        outline:none;
    }
}

.principal {
    position: relative;
    left: 0;
    transition: left .3s;
    height: 100vh;
    overflow: auto;

    &.in {
        left:95%;        
        overflow: hidden;
    }
}