$cssCore: false;
$cssHelpers: true;

//$gutter : em(15px);

// Colors
$color1: #2c3e50;
$color2: #709ECC;
$color3: #6C767F;
$color4: #8CC6FF;

$gray: #e1e1e1;
$black: #444;
$white: #f4f4f4;
$red: #e22d2d;

$twitter:#1DA1F2;
$github: #8b2c9e;
$linkedin: #0077B5;
